
data/Binance_BTCUSDT_1h.csv
data/Binance_ETHUSDT_1h.csv
data/Binance_LTCUSDT_1h.csv
data/Binance_NEOUSDT_1h.csv
data/Coinbase_BTCUSD_1h.csv
data/Coinbase_ETHUSD_1h.csv
data/Coinbase_LTCUSD_1h.csv
data/gemini_LTCUSD_1hr.csv
data/gemini_ZECUSD_1hr.csv
data/Kraken_BTCUSD_1h.csv
data/Bitstamp_BTCEUR_1h.csv
data/Bitstamp_BTCUSD_1h.csv
data/Bitstamp_ETHEUR_1h.csv
data/Bitstamp_ETHUSD_1h.csv
data/Bitstamp_LTCEUR_1h.csv
data/Bitstamp_LTCUSD_1h.csv
data/Bitstamp_XRPUSD_1h.csv
data/Kraken_BTCEUR_1h.csv
data/Kraken_ETHEUR_1h.csv
data/Kraken_ETHUSD_1h.csv
data/Kraken_LTCEUR_1h.csv
data/Kraken_LTCUSD_1h.csv
data/Kraken_XRPUSD_1h.csv
data/Bitfinex_BTCUSD_1h.csv
data/Bitfinex_ETHUSD_1h.csv
data/Bitfinex_LTCUSD_1h.csv
data/Poloniex_XMRUSD_1h.csv
data/Poloniex_LTCUSD_1h.csv
data/Poloniex_ETHUSD_1h.csv
data/Poloniex_ETCUSD_1h.csv
data/Poloniex_DASHUSD_1h.csv
data/Poloniex_BTCUSD_1h.csv
data/Poloniex_BCHUSD_1h.csv
data/Itbit_BTCUSD_1h.csv
.vscode/settings.json
